@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px black;
  border-bottom-color: $dark_header_color;
  border-radius: 50%;
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

.button {
  width: 10%;
  height: 40px;
  border-color: #fee300;
  color: #fee300;
  background-color: transparent;
  border-radius: 3px;
  letter-spacing: 2px;
  cursor: pointer;
}

@media only screen and (max-width: 584px) {
  .button {
    width: 30%;
  }
}
